<!--anketweb-main/src/app/admin-anket-ekle-duzenle/admin-anket-ekle-duzenle.component.html 
bu HTML DOSYASI DOLDURULACAK UYGUN ŞEKİLDE.
-->
<!-- admin-anket-ekle-duzenle.component.html -->
<form (ngSubmit)="onSubmit(surveyId, questionText, questionType, options)">
    <label for="questionText">Anket Sorusu Metni:</label>
    <input type="text" id="questionText" name="questionText" [(ngModel)]="questionText" required>
  
    <label for="questionType">Soru Tipi:</label>
    <input type="text" id="questionType" name="questionType" [(ngModel)]="questionType" required>
  
    <!-- Options için giriş alanları -->
    <div *ngFor="let option of options; let i = index">
      <label for="option{{i}}">Seçenek {{i + 1}}:</label>
      <input type="text" id="option{{i}}" name="option{{i}}" [(ngModel)]="option.option_text" required>
    </div>
  
    <button type="submit">Soruyu Ekle</button>
  </form>
  