<div class="admin-panel">
  <div class="menu-bar">
    <img src="/assets/adminIcon-removebg-preview.png" alt="Admin Logo" class="admin-logo">
    
      <!-- Admin bilgilerini yazdırma -->
      <div>
        <p>ID: {{ adminService.loginUser()?.id || " " }}</p>
        <p>Ad: {{ adminService.loginUser()?.first_name || " " }}</p>
        <p>Soyad: {{ adminService.loginUser()?.last_name || " " }}</p>
        <p>Telefon: {{ adminService.loginUser()?.phone_number || " " }}</p>
        <p>E-posta: {{ adminService.loginUser()?.email || " " }}</p>
      </div>
    
      <button type="submit" (click)="yeniAnketSorusuEkle()">Yeni Anket Sorusu Ekle</button>
      <button type="submit"  (click)="anketSorulariniGoruntule()">Anket Sorularını Görüntüle</button>
  
    <router-outlet></router-outlet>
  </div>

  

</div>
