<div class="admin-panel">
  <div class="menu-bar">
    <img src="/assets/adminIcon-removebg-preview.png" alt="Admin Logo" class="admin-logo">
    
      <!-- Admin bilgilerini yazdırma -->
      
      <div>
        <p>ID: {{ 1|| " " }}</p>
        <p>Ad: {{ 1 || " " }}</p>
        <p>Soyad: {{ 1 || " " }}</p>
        <p>Telefon: {{ 1   || " " }}</p>
        <p>E-posta: {{ 1 || " " }}</p>
      </div>

      <button type="submit" (click)="yeniAnketSorusuEkle()">Yeni Anket Sorusu Ekle</button>
      <button type="submit"  (click)="anketSorulariniGoruntule()">Anket Sorularını Görüntüle</button>
  
    <router-outlet></router-outlet>
  </div>

  

</div>

<!--
<div>
  <p>ID: {{ adminData.id || " " }}</p>
  <p>Ad: {{ adminData.first_name || " " }}</p>
  <p>Soyad: {{ adminData.last_name|| " " }}</p>
  <p>Telefon: {{ adminData.phone_number   || " " }}</p>
  <p>E-posta: {{ adminData.email|| " " }}</p>
</div>
-->